.banner-container{
    position: relative;
  width: 100%;
  height: 570px;
  background-color: #100f0f;
}
.imgtext_container{
    display: flex; /* Use flex to center contents */
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if needed */
    width: 100%; /* Take full width */
    height: 100%; /* Take full height of the container */
    margin: 0 auto; /* Centering the container itself */
}

.banner-img{
    position: absolute;
    z-index: 1;
}
.banner-headertext{
    position: relative;
    z-index: 2; /* Ensure text appears above the image */
    color: white;
    font-size: 52px; /* Adjust as needed */
    line-height: 55px;
   margin-top: 219px;
    text-align: center;
    white-space: pre-wrap; 
    font-weight: 700;
}
@media screen and (min-width: 480px) and (max-width: 800px) {

   
    .imgtext_container{
        width: 480px;
    }
    .banner-img{
        position: absolute;
        z-index: 1;
        width: 480px;
    }
    .banner-headertext{
        font-size: 22px;
        line-height: 30px;
        margin-top: 196px;

    }

}
@media screen and (max-width: 479px) {
    .imgtext_container{
        width: 360px;
    }
    .banner-container
    {
        height: 429px;
        margin: 0 auto;
    }
    .banner-img{
        position: absolute;
       
        z-index: 1;
        width: 360px;
    }
    .banner-headertext{
        font-size: 14px;
        line-height: 30px;
        margin-top: 60px;
        width: 360px;

    }
}
