.card{
    height: 400px;
    width: 360px;
    box-shadow: 0 4px 30px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.headerSection{
    display: inline-flex;
}
.card-icon{
    margin-top: 20px;
    margin-left: 24px;
}
.card-header{
  height: 18px;
  width: 104px;
  margin-top: 42px;
  margin-left: 13px;
}
.card-text{
    margin-top: 0px;
    margin-left: 50px;
}
.card-text li {
    margin: 24px 0; /* Space between list items */
}

@media screen and (min-width: 480px) and (max-width: 1279px) {

    .card{
        width: clamp(17.625rem, 15.7903rem + 8.3871vw, 22.5rem);
        margin: 0 auto;
    }
}
@media screen and (max-width: 479px)  {
    .card{
        width: 266px;
      
    }
}